.footer {
  background-color: var(--header-bg-color);
  width: 100%;
  margin: 0 auto;
}

.footer_links {
  padding: 24px;
}

.footer_title {
  font-weight: 700;
  color: #fff;
  font-size: 1.8rem;
  line-height: 30px;
}

.mb_2 {
  margin-bottom: 5px;
}

.white_heading {
  color: var(--white-color);
}

.quick_links__item {
  color: #fafafa;
  font-size: 1.4rem;
  line-height: 30px;
}

.quick_links__link {
  display: block;
}

.copyright {
  padding-block: 20px;
  background-color: var(--secondary-color);
}

.copyright_text {
  text-align: center;
  color: var(--white-color);
  font-weight: 900;
  font-size: 1.8em;
}

@media screen and (min-width: 991px) {

  .footer_group {
    display: flex;
    gap: 30px;
    justify-content: space-between;
  }

  .about {
    font-size: 1.5em;
  }

  .quick_links {
    margin: 0 0 16px 0;
  }
}