.header {
  --navbar-height: 4em;
  font-weight: 500;
  background: transparent;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.header_contact {
  background: var(--secondary-color);
  display: flex;
  align-items: center;
  position: relative;
  padding: 0.8em 2em;
  font-weight: 900;
  gap: 0.8em;
}

.fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: var(--header-bg-color);
}

.header.fixed {
  box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.4);
}

.nav {
  display: flex;
  gap: 1.5em;
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
}

.logo_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-left: 2em;
}

.logo {
  font-size: 2.5em;
  color: var(--logo-font-color);
  font-family: var(--logo-font);
  font-weight: 700;
  line-height: 40px;
}

.nav_list {
  display: none;
}

.nav_list_mobile {
  display: flex;
  flex-direction: column;
  background-color: var(--header-bg-color);
  width: 100%;
  padding: 2em;
  z-index: 20;
  position: absolute;
  top: 4em;
  height: calc(100vh - var(--navbar-height));
  animation: fadeIn 0.5s ease-in-out forwards;
}

.nav_item {
  padding-block: 1.5em;
  display: inline-block;
  background: none;
  position: relative;
  transition: background 500ms ease-in-out;
}

.nav_link {
  color: var(--white-color);
  font-size: 1.5em;
  font-weight: 600;
  display: block;
  font-family: var(--gilroy-medium-font);
  position: relative;
  transition: color 500ms ease-in-out;
}

.nav_link:hover {
  color: var(--gold-color);
}

.nav_link::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: -5px;
  height: 3px;
  width: 50%;
  background: var(--gold-color);
  transform: scale(0);
  transform-origin: bottom right;
  transition: transform 500ms ease-in-out;
}

.nav_link:hover::after{
  transform: scale(1);
  width: 100%;
  transform-origin: bottom left;
}

.sub_nav_list {
  position: absolute;
  left: 125px;
  top: 0;
  min-width: 200px;
  min-height: 180px;
  background-color: var(--white-color);
  visibility: hidden;
  opacity: 0;
  z-index: 50;
  box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.4);
  transition: left 100ms ease-in-out;
}

.sub_nav_list_item:not(:last-child) {
  margin-bottom: 0.5em;
}

.sub_nav_link {
  display: block;
  padding: 1em;
  line-height: 1.5;
  font-size: 1.5em;
  color: var(--black-color);
  background: none;
  font-weight: 600;
  transition: background 500ms ease-in-out;
}

.sub_nav_link:hover {
  background: var(--gold-color);
}

.nav_item:hover .sub_nav_list {
  visibility: visible;
  opacity: 1;
  left: 120px;
}

.phone_block {
  position: absolute;
  bottom: 0;
}

.phone {
  color: var(--white-color);
  font-size: 1.5em;
}

.none {
  display: none;
}

.hide {
  visibility: hidden;
  opacity: 0;
  animation: fadeOut ease-in-out 0.5s forwards;
}

.bg_white .nav .logo_container .logo,
.bg_white .nav .nav_link {
  color: var(--black-color);
}

.bg_white.fixed .logo_container .logo,
.bg_white.fixed .nav .nav_link {
  color: var(--white-color);
}

.bg_white .nav .nav_link:hover {
  color: var(--gold-color);
}

.bg_white .nav .nav_link:hover::after{
  width: 50%;
}

.bg_white .nav .menu,
.bg_white .nav .close {
  color: var(--black-color);
}

.nav_list_mobile .nav_item .nav_link {
  color: var(--white-color);
}

@media only screen and (min-width: 768px) {
  .menu,
  .close,
  .phone_block {
    display: none;
  }

  .header {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .header_contact {
    padding-inline: 6em;
  }

  .phone {
    font-size: 1.4em;
  }

  .fixed .header_contact {
    display: none;
  }

  .nav {
    height: 50px;
    flex-direction: row;
    align-items: center;
    padding-inline: 6em;
  }

  .logo_container {
    padding-left: 0;
  }

  .nav_list {
    position: relative;
    left: initial;
    top: initial;
    height: initial;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 0;
    background-color: transparent;
  }

  .nav_item {
    padding-inline: 2em;
    position: relative;
  }

  .nav_link {
    position: relative;
  }

  .sub_nav_list {
    top: 60px;
    left: 0;
    opacity: 0;
    visibility: hidden;
    height: auto;
    transition: top 100ms cubic-bezier(.25,.57,.72,.33);
  }
  
  .nav_item:hover .sub_nav_list {
    top: 50px;
    left: 0;
    opacity: 1;
    visibility: visible;
  }

  .hide {
    opacity: 1;
    visibility: visible;
  }
}

@media only screen and (min-width: 991px) {
  .menu {
    display: none;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    width: 0;
    visibility: hidden;
  }

  100% {
    opacity: 1;
    width: 100%;
    visibility: visible;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    width: 100%;
    visibility: visible;
  }

  100% {
    opacity: 0;
    width: 0px;
    visibility: hidden;
  }
}