.branch_main {
  padding-top: 8em;
}

.branch_main > div {
  padding-top: 20px;
  padding-bottom: 80px;
}

.branch_title {
  text-align: center;
  color: var(--gold-color);
  padding-block: 0.5em;
}

.branch_title_name,
.branch_subheading {
  color: var(--black-color);
}

.branch_body {
  --border-color: 1px solid rgba(215, 215, 215, 0.5);
  margin-bottom: 40px;
}

.branch_body_content {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.branch_room_slides { 
  width: 100%;
  height: 80vh;
  margin: 0 auto;  
  margin-bottom: 4em;
}

.branch_details {
  display: flex;
  flex-direction: column;
  gap: 2em;
  padding-inline: 0.5em;
}

.branch_room {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.available_room {
  position: relative;
  padding-block: 2px;
  font-weight: 600;
}

.branch_room_list {
  display: flex;
  gap: 1.5em;
  flex-direction: column;
}

.branch_room_list_item {
  font-size: 1.6em;
  display: flex;
  align-items: center;
  gap: 1em;
}

.map {
  height: 500px;
  width: 100%;
}

@media screen and (min-width: 768px) {

  .branch_room_list {
    flex-direction: column;
  }

  .branch_facility_list {
    flex-direction: column;
  }
}

@media screen and (min-width: 991px) {

  .branch_main > div {
    padding-inline: 30px;

  }

  .branch_details {
    flex-direction: row;
    gap: 40px;
    padding-inline: 0;
  }

  .branch_room {
    flex: 100%;
  }
}
