.page_section {
  margin: 0 0 8px;
}

.facilities_box {
  margin: 0 0 32px;
}

.facilities_box_content {
  padding-block: 20px;
  padding-inline: 40px;
}

.item {
  display: inline-block;
  margin-bottom: 16px;
}

.facility_title_container {
  margin-bottom: 4px;
  display: flex;
}

.font_1 {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 24px;
  color: #262626;
}

.font_2 {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 20px;
  color: #262626;
}

.facility_label {
  display: inline-flex;
  align-items: center;
}

.facility_icon_container {
  margin-right: 12px;
  height: calc(4px * 5);
  display: inline-block;
  fill: currentColor;
  color: #262626;
}

.facility_icon_container svg {
  display: inline-block;
  vertical-align: top;
  height: 100%;
  width: auto;
}

.facility_list_container {
  list-style: none;
  padding-inline-start: 0;
  padding-inline-end: 16px;
  margin: 0;
}

.facility_list_container:last-child {
  margin-block-end: 0;
}

.facility_item {
  margin-block-end: 8px;
}

.facility_item_content {
  display: flex;
  align-items: center;
}

.facility_item_title {
  display: inline-block;
  vertical-align: middle;
}

@media screen and (min-width: 576px) {
  .facilities_box_content {
    column-count: 2;
    column-gap: 32px;
    padding-inline: 15px;
  }
}

@media screen and (min-width: 969px) {
  .facilities_box_content {
    column-count: 3;
  }
}