:root {
  --font: var(--font-poppins);
  --default-font-weight: 400;
  --logo-font-color: #fff;
  --white-color: #fff;
  --primary-color: #333;
  --primary-bg-color: #fff;
  --header-bg-color: #17202A;
}