:root {
  --logo-font: var(--font-lora);
  --heading-font: var(--font-hiragino);
  --gilroy-medium-font: var(--font-gilroy-medium);
  --gilroy-regular-font: var(--font-gilroy-regular);
  --gilroy-bold-font: var(--font-gilroy-bold);
  --default-font-weight: 400;
  --logo-font-color: #fff;
  --white-color: #fff;
  --primary-color: #333;
  --secondary-color: #2980b9;
  --primary-bg-color: #fff;
  --header-bg-color: #17202A;
  --border-color: #17202A;
}