.why_us {
  padding: 4em 2em 2em;
  text-align: center;
}

.why_us_text {
  font-size: 1.4em;
  line-height: 1.8;
}

.why_us_card {
  padding-block: 1.5em;
  box-shadow: 0 4px 8px 2px rgba(0, 0, 0, 0);
  transition: box-shadow 500ms linear;
  cursor: pointer;
}

.why_us_card:hover {
  box-shadow: 0 4px 8px 2px rgba(0, 0, 0, 0.25);
}

.icon_container {
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1px solid var(--gold-color);
  display: grid;
  place-items: center;
  margin-bottom: 1em;
  transition: all 500ms ease-in-out;
  overflow-y: hidden;
}

.light_icon {
  color: var(--gold-color);
}

.fill_icon {
  position: absolute;
  transform: translateY(100%);
  visibility: hidden;
  opacity: 0;
  transition: all 500ms ease-in-out;
}

.icon_container:hover {
  background: var(--gold-color);
}

.icon_container:hover .light_icon {
  opacity: 0;
  visibility: hidden;
}

.icon_container:hover .fill_icon {
  opacity: 1;
  visibility: visible;
  transform: translateX(0%);
  color: var(--black-color);
}

.description {
  font-size: 1.5em;
  line-height: 1.8;
  text-align: center;
}

.most_popular_header {
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
}

.most_popular_heading {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}

@media screen and (min-width: 768px) {
  .why_us_text {
    font-size: 2em;
  }
}


@media (hover: hover) and (pointer: fine) {
  .icon_container:hover {
    background: var(--gold-color);
  }

  .icon_container:hover .light_icon {
    display: none;
  }
    
  .icon_container:hover .fill_icon {
    display: block;
    color: var(--black-color);
  }
}